// Grey
$grey-01: hsl(0, 0%, 13%);
$grey-02: hsl(0, 0%, 23%);
$grey-03: hsl(0, 0%, 32%);
$grey-04: hsl(0, 0%, 38%);
$grey-05: hsl(0, 0%, 49%);
$grey-06: hsl(0, 0%, 62%);
$grey-07: hsl(0, 0%, 69%);
$grey-08: hsl(0, 0%, 81%);
$grey-09: hsl(0, 0%, 88%);
$grey-10: hsl(0, 0%, 97%);

// Blue Grey
$blue-grey-01: hsl(209, 61%, 16%);
$blue-grey-02: hsl(211, 39%, 23%);
$blue-grey-03: hsl(209, 34%, 30%);
$blue-grey-04: hsl(209, 28%, 39%);
$blue-grey-05: hsl(210, 22%, 49%);
$blue-grey-06: hsl(209, 23%, 60%);
$blue-grey-07: hsl(211, 27%, 70%);
$blue-grey-08: hsl(210, 31%, 80%);
$blue-grey-09: hsl(212, 33%, 89%);
$blue-grey-10: hsl(210, 36%, 96%);

// Cool Grey
$cool-grey-01: hsl(210, 24%, 16%);
$cool-grey-02: hsl(209, 20%, 25%);
$cool-grey-03: hsl(209, 18%, 30%);
$cool-grey-04: hsl(209, 14%, 37%);
$cool-grey-05: hsl(211, 12%, 43%);
$cool-grey-06: hsl(211, 10%, 53%);
$cool-grey-07: hsl(211, 13%, 65%);
$cool-grey-08: hsl(210, 16%, 82%);
$cool-grey-09: hsl(214, 15%, 91%);
$cool-grey-10: hsl(216, 33%, 97%);

// Warm Grey
$warm-grey-01: hsl(42, 15%, 13%);
$warm-grey-02: hsl(40, 13%, 23%);
$warm-grey-03: hsl(37, 11%, 28%);
$warm-grey-04: hsl(41, 9%, 35%);
$warm-grey-05: hsl(41, 8%, 48%);
$warm-grey-06: hsl(41, 8%, 61%);
$warm-grey-07: hsl(39, 11%, 69%);
$warm-grey-08: hsl(40, 15%, 80%);
$warm-grey-09: hsl(43, 13%, 90%);
$warm-grey-10: hsl(40, 23%, 97%);

// Red
$red-01: hsl(360, 92%, 20%);
$red-02: hsl(360, 85%, 25%);
$red-03: hsl(360, 79%, 32%);
$red-04: hsl(360, 72%, 38%);
$red-05: hsl(360, 67%, 44%);
$red-06: hsl(360, 64%, 55%);
$red-07: hsl(360, 71%, 66%);
$red-08: hsl(360, 77%, 78%);
$red-09: hsl(360, 82%, 89%);
$red-10: hsl(360, 100%, 97%);

// Red (brid)
$red-br-01: hsl(348, 94%, 20%);
$red-br-02: hsl(350, 94%, 28%);
$red-br-03: hsl(352, 90%, 35%);
$red-br-04: hsl(354, 85%, 44%);
$red-br-05: hsl(356, 75%, 53%);
$red-br-06: hsl(360, 83%, 62%);
$red-br-07: hsl(360, 91%, 69%);
$red-br-08: hsl(360, 100%, 80%);
$red-br-09: hsl(360, 100%, 87%);
$red-br-10: hsl(360, 100%, 95%);

// Orange
$orange-01: hsl(22, 83%, 19%);
$orange-02: hsl(22, 80%, 26%);
$orange-03: hsl(22, 79%, 31%);
$orange-04: hsl(22, 74%, 38%);
$orange-05: hsl(22, 71%, 45%);
$orange-06: hsl(22, 78%, 55%);
$orange-07: hsl(21, 83%, 64%);
$orange-08: hsl(22, 92%, 76%);
$orange-09: hsl(22, 100%, 86%);
$orange-10: hsl(22, 100%, 95%);

// Orange (brid)
$orange-br-01: hsl(6, 96%, 26.5%);
$orange-br-02: hsl(8, 92%, 35%);
$orange-br-03: hsl(10, 93%, 40%);
$orange-br-04: hsl(12, 86%, 47%);
$orange-br-05: hsl(14, 89.5%, 55%);
$orange-br-06: hsl(16, 94%, 61%);
$orange-br-07: hsl(18, 100%, 70%);
$orange-br-08: hsl(20, 100%, 77%);
$orange-br-09: hsl(22, 100%, 85.5%);
$orange-br-10: hsl(24, 100%, 92.5%);

// Yellow
$yellow-01: hsl(43, 86%, 17%);
$yellow-02: hsl(43, 77%, 27%);
$yellow-03: hsl(43, 72%, 37%);
$yellow-04: hsl(42, 63%, 48%);
$yellow-05: hsl(42, 78%, 60%);
$yellow-06: hsl(43, 89%, 70%);
$yellow-07: hsl(43, 90%, 76%);
$yellow-08: hsl(45, 86%, 81%);
$yellow-09: hsl(45, 90%, 88%);
$yellow-10: hsl(45, 100%, 96%);

// Yellow (brid)
$yellow-br-01: hsl(15, 86%, 30%);
$yellow-br-02: hsl(22, 82%, 39%);
$yellow-br-03: hsl(29, 80%, 44%);
$yellow-br-04: hsl(36, 77%, 49%);
$yellow-br-05: hsl(42, 87%, 55%);
$yellow-br-06: hsl(44, 92%, 63%);
$yellow-br-07: hsl(48, 94%, 68%);
$yellow-br-08: hsl(48, 95%, 76%);
$yellow-br-09: hsl(48, 100%, 88%);
$yellow-br-10: hsl(49, 100%, 96%);

// Lime Green
$lime-green-01: hsl(81, 86%, 14%);
$lime-green-02: hsl(81, 78%, 21%);
$lime-green-03: hsl(83, 74%, 27%);
$lime-green-04: hsl(83, 70%, 34%);
$lime-green-05: hsl(83, 64%, 42%);
$lime-green-06: hsl(83, 55%, 52%);
$lime-green-07: hsl(83, 63%, 61%);
$lime-green-08: hsl(83, 68%, 74%);
$lime-green-09: hsl(84, 77%, 86%);
$lime-green-10: hsl(83, 88%, 94%);

// Lime Green (brid)
$lime-green-br-01: hsl(100, 93%, 17%);
$lime-green-br-02: hsl(99, 91%, 25%);
$lime-green-br-03: hsl(100, 89%, 31%);
$lime-green-br-04: hsl(92, 89%, 38%);
$lime-green-br-05: hsl(92, 86%, 45%);
$lime-green-br-06: hsl(90, 84%, 55%);
$lime-green-br-07: hsl(88, 91%, 66%);
$lime-green-br-08: hsl(86, 100%, 76%);
$lime-green-br-09: hsl(83, 100%, 87%);
$lime-green-br-10: hsl(83, 100%, 96%);

// Green
$green-01: hsl(125, 86%, 14%);
$green-02: hsl(125, 73%, 20%);
$green-03: hsl(125, 56%, 29%);
$green-04: hsl(122, 47%, 35%);
$green-05: hsl(122, 39%, 41%);
$green-06: hsl(123, 35%, 51%);
$green-07: hsl(123, 38%, 63%);
$green-08: hsl(122, 42%, 75%);
$green-09: hsl(126, 49%, 84%);
$green-10: hsl(125, 65%, 93%);

// Green (brid)
$green-br-01: hsl(170, 97%, 15%);
$green-br-02: hsl(168, 80%, 23%);
$green-br-03: hsl(166, 72%, 28%);
$green-br-04: hsl(164, 71%, 34%);
$green-br-05: hsl(162, 63%, 41%);
$green-br-06: hsl(160, 51%, 49%);
$green-br-07: hsl(158, 58%, 62%);
$green-br-08: hsl(156, 73%, 74%);
$green-br-09: hsl(154, 75%, 87%);
$green-br-10: hsl(152, 68%, 96%);

// Cyan
$cyan-01: hsl(184, 91%, 17%);
$cyan-02: hsl(185, 84%, 25%);
$cyan-03: hsl(185, 81%, 29%);
$cyan-04: hsl(184, 77%, 34%);
$cyan-05: hsl(185, 62%, 45%);
$cyan-06: hsl(185, 57%, 50%);
$cyan-07: hsl(184, 65%, 59%);
$cyan-08: hsl(184, 80%, 74%);
$cyan-09: hsl(185, 94%, 87%);
$cyan-10: hsl(186, 100%, 94%);

// Cyan (brid)
$cyan-br-01: hsl(188, 91%, 23%);
$cyan-br-02: hsl(186, 91%, 29%);
$cyan-br-03: hsl(184, 90%, 34%);
$cyan-br-04: hsl(182, 85%, 39%);
$cyan-br-05: hsl(180, 77%, 47%);
$cyan-br-06: hsl(178, 78%, 57%);
$cyan-br-07: hsl(176, 87%, 67%);
$cyan-br-08: hsl(174, 96%, 78%);
$cyan-br-09: hsl(172, 97%, 88%);
$cyan-br-10: hsl(171, 82%, 94%);

// light Blue
$light-blue-01: hsl(200, 82%, 24%);
$light-blue-02: hsl(200, 72%, 31%);
$light-blue-03: hsl(200, 68%, 35%);
$light-blue-04: hsl(200, 59%, 43%);
$light-blue-05: hsl(200, 54%, 49%);
$light-blue-06: hsl(200, 60%, 58%);
$light-blue-07: hsl(200, 66%, 69%);
$light-blue-08: hsl(200, 71%, 80%);
$light-blue-09: hsl(200, 88%, 90%);
$light-blue-10: hsl(201, 100%, 96%);

// Light Blue (brid)
$light-blue-br-01: hsl(204, 96%, 27%);
$light-blue-br-02: hsl(203, 87%, 34%);
$light-blue-br-03: hsl(202, 83%, 41%);
$light-blue-br-04: hsl(201, 79%, 46%);
$light-blue-br-05: hsl(199, 84%, 55%);
$light-blue-br-06: hsl(197, 92%, 61%);
$light-blue-br-07: hsl(196, 94%, 67%);
$light-blue-br-08: hsl(195, 97%, 75%);
$light-blue-br-09: hsl(195, 100%, 85%);
$light-blue-br-10: hsl(195, 100%, 95%);

// Blue
$blue-01: hsl(205, 100%, 21%);
$blue-02: hsl(205, 87%, 29%);
$blue-03: hsl(205, 82%, 33%);
$blue-04: hsl(205, 76%, 39%);
$blue-05: hsl(205, 67%, 45%);
$blue-06: hsl(205, 65%, 55%);
$blue-07: hsl(205, 74%, 65%);
$blue-08: hsl(205, 84%, 74%);
$blue-09: hsl(205, 97%, 85%);
$blue-10: hsl(205, 79%, 92%);

// Blue (brid)
$blue-br-01: hsl(218, 100%, 17%);
$blue-br-02: hsl(216, 98%, 25%);
$blue-br-03: hsl(215, 96%, 32%);
$blue-br-04: hsl(214, 95%, 36%);
$blue-br-05: hsl(212, 92%, 43%);
$blue-br-06: hsl(210, 83%, 53%);
$blue-br-07: hsl(208, 88%, 62%);
$blue-br-08: hsl(206, 93%, 73%);
$blue-br-09: hsl(204, 100%, 86%);
$blue-br-10: hsl(202, 100%, 95%);

// Indigo
$indigo-01: hsl(234, 62%, 26%);
$indigo-02: hsl(232, 51%, 36%);
$indigo-03: hsl(230, 49%, 41%);
$indigo-04: hsl(228, 45%, 45%);
$indigo-05: hsl(227, 42%, 51%);
$indigo-06: hsl(227, 50%, 59%);
$indigo-07: hsl(225, 57%, 67%);
$indigo-08: hsl(224, 67%, 76%);
$indigo-09: hsl(221, 78%, 86%);
$indigo-10: hsl(221, 68%, 93%);

// Indigo (brid)
$indigo-br-01: hsl(234, 90%, 25%);
$indigo-br-02: hsl(232, 86%, 32%);
$indigo-br-03: hsl(230, 80%, 38%);
$indigo-br-04: hsl(228, 74%, 43%);
$indigo-br-05: hsl(223, 71%, 47%);
$indigo-br-06: hsl(224, 69%, 54%);
$indigo-br-07: hsl(222, 81%, 65%);
$indigo-br-08: hsl(219, 95%, 76%);
$indigo-br-09: hsl(216, 100%, 85%);
$indigo-br-10: hsl(216, 100%, 93%);

// Purple
$purple-01: hsl(263, 85%, 18%);
$purple-02: hsl(262, 72%, 25%);
$purple-03: hsl(262, 69%, 31%);
$purple-04: hsl(262, 60%, 38%);
$purple-05: hsl(262, 48%, 46%);
$purple-06: hsl(262, 43%, 51%);
$purple-07: hsl(261, 47%, 58%);
$purple-08: hsl(261, 54%, 68%);
$purple-09: hsl(261, 68%, 84%);
$purple-10: hsl(262, 61%, 93%);

// Purple (brid)
$purple-br-01: hsl(276, 91%, 23%);
$purple-br-02: hsl(274, 87%, 31%);
$purple-br-03: hsl(274, 87%, 37%);
$purple-br-04: hsl(274, 87%, 43%);
$purple-br-05: hsl(273, 80%, 49%);
$purple-br-06: hsl(268, 82%, 60%);
$purple-br-07: hsl(264, 96%, 70%);
$purple-br-08: hsl(262, 100%, 78%);
$purple-br-09: hsl(262, 100%, 88%);
$purple-br-10: hsl(262, 90%, 96%);

// Pink
$pink-01: hsl(330, 79%, 20%);
$pink-02: hsl(331, 74%, 27%);
$pink-03: hsl(330, 70%, 36%);
$pink-04: hsl(330, 68%, 40%);
$pink-05: hsl(330, 63%, 47%);
$pink-06: hsl(330, 66%, 57%);
$pink-07: hsl(330, 72%, 65%);
$pink-08: hsl(330, 77%, 76%);
$pink-09: hsl(330, 87%, 85%);
$pink-10: hsl(329, 100%, 94%);

// Pink (brid)
$pink-br-01: hsl(320, 100%, 19%);
$pink-br-02: hsl(322, 93%, 27.5%);
$pink-br-03: hsl(324, 93%, 33%);
$pink-br-04: hsl(326, 90%, 39%);
$pink-br-05: hsl(328, 85%, 46%);
$pink-br-06: hsl(330, 79.5%, 56%);
$pink-br-07: hsl(334, 86%, 67%);
$pink-br-08: hsl(336, 100%, 77.5%);
$pink-br-09: hsl(338, 100%, 86%);
$pink-br-10: hsl(341, 100%, 94.5%);
